<?xml version="1.0" encoding="utf-8"?>
<manifest package="serve.serveup"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".views.NavigationPanelActivity"
            android:label="@string/title_activity_navigation_panel"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationPanelTheme">
        </activity>
        <activity
            android:name=".views.restaurant.RestaurantActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
        </activity>
        <activity
            android:name=".views.restaurant.CategoryMealsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
        </activity>
        <activity
            android:name=".views.restaurant.PickedMealActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
        </activity>
        <activity
            android:name=".views.login.LoadingLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
        </activity>
        <activity android:name=".views.order.PaymentOptionActivity"
              android:screenOrientation="portrait"
              android:theme="@style/FullScreenTheme">
        </activity>
    </application>

</manifest>